.second-menu {
  position: relative;
  display: inline-block;
}

#secondMenu {
  width: 200px; /* Set a fixed width for the select menu */
  max-width: 100%; /* Ensure it doesn't stretch beyond its parent container */
  overflow: auto; /* Handle overflow when text is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis if the text is too long */
}

/* Add this to ensure the select menu does not overflow vertically */
#secondMenuContainer {
  max-height: 200px; /* Set max height to limit dropdown size */
  overflow-y: auto; /* Add vertical scroll if needed */
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.row {
  display: flex;
}
.Nonvis {
  display: none;
}
.column {
  flex: 50%;
}




.bottomFoot {
  position: absolute; /* Positions the footer relative to its parent (body) */
  bottom: 0;          /* Aligns it to the bottom of the body */
  width: 100%;        /* Makes it stretch across the page */
  background-color: lightgreen; /* For visibility */
  text-align: center;           /* Centers text horizontally */
  padding: 10px;                /* Adds some spacing */
}


.food-table {
  height: 50%;
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  width:100%;
}

.food-table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  font-size: 2em;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

.food-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
