{% extends "main.html" %}
{% block mealTable %}

{% import 'bootstrap/wtf.html' as wtf %}

<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
  <div class="row g-3"><div class="col"><h1>Add Food Item:</h1></div></div>
  <div class="row g-3"></div>
  <div class="row g-3">
    <div class="col">
  {{ wtf.form_field(form.foodname, placeholder="Food Name", class="form-control" ) }}
  </div>
  <div class="col">
  {{ wtf.form_field(form.servingsize, placeholder="Serving Size",class="form-control") }}
  </div>
  <div class="col">
  {{ wtf.form_field(form.servingsizeunit,class="form-select form-control") }}
  </div>
  </div>
  {{ wtf.form_field(form.carbs,placeholder="Carbs",class="form-control") }}
  {{ wtf.form_field(form.protein,placeholder="Protien",class="form-control") }}
  {{ wtf.form_field(form.fat,placeholder="fat",class="form-control") }}
  {{ wtf.form_field(form.fiber,placeholder="fiber",class="form-control") }}
  {{ wtf.form_field(form.saturated_fat,placeholder="Saturated Fat",class="form-control") }}
  {{ wtf.form_field(form.trans_fat,placeholder="Trans Fat",class="form-control") }}
</form>

<style>
  .nameStuff {
    flex: 50%;
  }
  </style>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>

{% endblock %}
