{% extends "main.html" %}
{% block mealTable %}
<table class="table table-striped table-dark">
  <tr>
    <th>Date</th>
    <th>Summery</th>
    <th> Carb Bolus</th>
    <th> Protein Bolus</th>
    <th> Fat Bolus </th>
    <th>Total Carbs</th>
    <th>Total Protein</th>
    <th>Total Fat</th>
  </tr>
  {% for meal in meals %}
  <tr>
    <td></td>
    <td>Summery</td>
    <td> Carb Bolus</td>
    <td> Protein Bolus</td>
    <td> Fat Bolus </td>
    <td>Total Carbs</td>
    <td>Total Protein</td>
    <td>Total Fat</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
