{% extends "main.html" %}
{% block mealTable %}
<style>
  table td + td { border-left:2px solid red; }
  </style>
<table >
        <thead style="background-color: lightblue;">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Foods</th>
                <th>Total Carbs</th>
                <th>Total Fat</th>
                <th>Total Protein</th>
                <th>Total Calories</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meals %}
            <tr>
                <td>{{ meal.meal_date }}</td>
                <td>{{ meal.meal_time }}</td>
                <td>{{ meal.food_names }}</td>
                <td>{{ meal.total_carbs }}</td>
                <td>{{ meal.total_fat }}</td>
                <td>{{ meal.total_protein }}</td>
                <td>{{ meal.total_calories }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


<div class="pagination">
    {% if page > 1 %}
    <a href="{{ url_for('get_meals', page=page-1, per_page=per_page) }}">
        <button>Previous</button>
    </a>
    {% endif %}

    <span>Page {{ page }} of {{ total_pages }}</span>

    {% if page < total_pages %}
    <a href="{{ url_for('get_meals', page=page+1, per_page=per_page) }}">
        <button>Next</button>
    </a>
    {% endif %}
</div>



{% endblock %}
