{% extends "base.html" %}
{% block mealTable %}
<div class="row">
 <div class="column">
   Meal
  <span> Meal Time:</span>
  <span>Ratios: <select id="ratioSelected" onChange="ratioSelect()">
    {% for ratio in ratioData %}
   <option value="{{ratio.time}}">{{ratio.time}}</option>
   {% endfor %}
  </select></span>
<span>Carb Ratio<input id="carbRatio" type="text" ></span>
<span> Protein Ratio<input id="protRatio" type="text" ></span>
<span> Fat Ratio<input id="fatRatio" type="text" ></span>




 </div>

 <div class="column" style="background-color:powderblue;">
   Food Library
   <table style="">
     <tr><th>Food List</th>
        <th>food items</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
<th>Category</th></tr>
     {% for category in foodCategories %}
      <tr>
        <td>
        <button value="{{category}}"> {{category}}</button>
        </td>
      </tr>
     {% endfor %}
   </table>
   </td><td>
   <div >
   </div>
   </td></tr>
   </table>
   <button onClick="sayhi();">Add food</button>
 </div>
</div>



<script language="javascript">


  function ratioSelect()
  {
    var Ratios= JSON.parse('{{ratioData|tojson}}');
    //const inputString =$("#ratioSelected").val();
    var time=$("#ratioSelected").val();
    for(let i = 0; i < Ratios.length; i++) {
    let obj = Ratios[i];
    if(obj["time"]==time){
      $("#carbRatio").val(obj['carbs']);
      $("#protRatio").val(obj['protein']);
      $("#fatRatio").val(obj['fat']);
    }
}


  }

function sayhi()
{
  alert("hi")
}
</script>

{% endblock %}
