{% extends "base.html" %}
{% block mealTable %}
<div class="row">
 <div class="column" >
   <div >
<div style="  float:left;padding:10px">
  <span id="currentTime" onclick="sayhi()"style="float:left;"> Meal Time: </span><br>
  <span>Ratios: <select id="ratioSelected" onChange="ratioSelect()">
    {% for ratio in ratioData %}
   <option value="{{ratio.time}}">{{ratio.time}}</option>
   {% endfor %}
  </select></span>
  <br>
<span>Carb Ratio<input id="carbRatio" type="text" ></span><span>Total Carb: </span><br>
<span> Protein Ratio<input id="protRatio" type="text" ></span><span>Total Protein: </span><br>
<span> Fat Ratio<input id="fatRatio" type="text" ></span><span>Total Fat: </span>
</div>
<br>
<table class="food-table">
  <tr>
    <th>Food Name</th><th>Amount</th><th><unit/th><th>carbs</th><th>protein</th><th>fat</th>
    </tr>
    <tr><td></td></tr>
  </table>

</div>

 </div>

 <div class="column" style="background-color:powderblue;">
   Food Library
   <table style="">
     <tr><th>Food List</th>
        <th>food items</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
<th>Category</th></tr>
     {% for category in foodCategories %}
      <tr>
        <td>
        <button value="{{category}}"> {{category}}</button>
        </td>
      </tr>
     {% endfor %}
   </table>
   </td><td>
   <div >
   </div>
   </td></tr>
   </table>
   <button onClick="sayhi();">Add food</button>
 </div>
</div>



<script language="javascript">
  $( document ).ready(function() {
      sayhi();
  });

  function ratioSelect()
  {
    var Ratios= JSON.parse('{{ratioData|tojson}}');
    var time=$("#ratioSelected").val();
    for(let i = 0; i < Ratios.length; i++) {
    let obj = Ratios[i];
    if(obj["time"]==time){
      $("#carbRatio").val(obj['carbs']);
      $("#protRatio").val(obj['protein']);
      $("#fatRatio").val(obj['fat']);
    }
}


  }
  $('.food-table').find('td').each(function() {
    $(this).click(function() {
      $('.food-table td').not($(this)).prop('contenteditable', false);
      $(this).prop('contenteditable', true);
    });
    $(this).blur(function() {
      $(this).prop('contenteditable', false);
    });
  });
  
function sayhi()
{
  var d = new Date();
  var n = d.toLocaleTimeString();
  $("#currentTime").text("Meal Time: "+n);

}
</script>

{% endblock %}
